<footer class="bg-[#2f2966] text-center text-white">

  <div class="flex justify-center">
    <div class="flex flex-col md:flex md:flex-row md:justify-around container px-6 pt-6">
      <!--Marcas-->
      <div class="mb-6 flex flex-col text-left md:text-center">
        <a href="#" class="text-sm md:text-lg font-bold pb-1">Marcas</a>
        <a href="#" class="text-sm md:text-base font-thin">Mercedes</a>
        <a href="#" class="text-sm md:text-base font-thin">Volkswagen</a>
        <a href="#" class="text-sm md:text-base font-thin">Audi</a>
        <a href="#" class="text-sm md:text-base font-thin">Bmw</a>
      </div>
      <!--Politicas-->
      <div class="mb-6 flex flex-col text-left md:text-center">
        <a href="#" class="text-sm md:text-lg font-bold pb-1">Politicas</a>
        <a href="#" class="text-sm md:text-base font-thin">Aviso Legal</a>
        <a href="#" class="text-sm md:text-base font-thin">Condiciones de Uso</a>
        <a href="#" class="text-sm md:text-base font-thin">Política de Cookies</a>
        <a href="#" class="text-sm md:text-base font-thin">Politica de Privacidad</a>
      </div>
      <!--Ubicacion-->
      <div class="mb-6 flex flex-col text-left md:text-center">
        <a href="#" class="text-sm md:text-lg font-bold pb-1">Ubicacion</a>
        <a href="#" class="text-sm md:text-base font-thin">Donde Estamos</a>
        <a href="#" class="text-sm md:text-base font-thin">Contacto</a>
      </div>

      <div class="mb-6 flex flex-col">
        <a href="#">
          <img src="assets/images/LogoConcesionario.png" alt="Logo" class="h-10 w-20 md:h-20 md:w-40">
        </a>
      </div>

    </div>
  </div>
  <!--Copyright-->
  <div
    class="w-full p-4 text-center text-xs md:text-base"
    style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white text-xs md:text-base" href="#">ViewCar Automotive</a>
  </div>

</footer>
