<button mat-icon-button style="position: absolute; right: 5px; top: 5px;" matDialogClose>
    <mat-icon>close</mat-icon>
  
  </button>
  
  <mat-dialog-content>
    <header>
      <h1 class="flex justify-center">Buscar</h1>
    </header>
    <hr>
    <div class="flex justify-center content-center pt-52">
      <mat-form-field style="width: 80%; justify-content: center; text-align:center; align-content: center;">
        <input matInput placeholder="Buscar..." class="text-lg">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  