<div class="w-[90%] m-auto py-16">
  <div class="mt-10">
      <p class="text-lg mb-3">Bienvenido al configurador</p>
      <div class="flex text-3xl">
          <span class="font-extrabold text-6xl pr-1">1.</span>
          <h1 class="pt-2.5 font-light">Empieza eligiendo tu marca favorita</h1>
      </div>
  </div>

  <!-- Filtros -->
  <div class="flex flex-col mt-5">
      <p><span class="font-bold">4</span> marcas disponible</p>
  </div>



<!-- Listado de las Marcas -->
<div>
    <div class="flex flex-wrap gap-4 mt-5">
        <div class="flex flex-col w-[32%] justify-center items-center p-4" *ngFor="let brand of Brands">
            <img class="w-64" src="{{brand.image}}" alt="">
        </div>

    </div>
</div>
</div>

